* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fira sans', sans-serif;
}

body {
    background-color: #dde1e7;
}
h2 {
    text-align: center;
    margin: 25% 0 5% 0;
    font-size: 2.5rem;
    color: rgb(37, 37, 37);
}

.inputFieldContainer {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    margin: auto;
}

#inputField {
    height: 50px;
    padding: 30px 0 120px 20px;
    width: 100%;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 30px;
    border: none;
}
#inputField:focus {
    outline: 0;
}

#add-btn {
    margin: 20px 0 50px 0;
    align-self: flex-end;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(345deg, rgba(255,31,0,1) 0%, rgba(255,191,0,1) 100%);
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    color: rgb(238, 236, 236);
    font-weight: 700;
}

#add-btn:active {
    background: linear-gradient(345deg, rgb(212, 15, 15) 0%, rgb(214, 164, 14) 100%);
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    color: rgb(238, 236, 236);
}

h3 {
    margin: 0 0 5% 7%;
    color: rgb(46, 46, 46);
}
.break {
    
    height: 5px;
    margin: 0 35px 30px 35px;
    background-color: #e6e6ee;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 30px;
    border: none;

}


li {
    font-size: 17px;
    background-color: #dde1e7;
    padding: 15px 20px 15px 20px;
    margin: 0 35px 10px 35px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 20px;
    position: relative;
    transition: all 400ms;
}

li span {
    visibility: hidden;
    transition: all 250ms ease-in 150ms; 
    opacity: 0;
    color: limegreen; 
    font-size: 30px;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
li span.checkMarkSpan {
    visibility: visible;
    opacity: 1;
}


li.highlight {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    padding-left: 50px;
    /* text-decoration: line-through; */
}

li > button {
    border: none;
    background-color: #dde1e7;
    font-size: 16px;
    font-weight: 800;
}