@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dde1e7;
}
main {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 35px;
}
h2 {
    text-align: center;
    margin: 10% 0 10% 0;
    font-size: 2.5rem;
    color: rgb(37, 37, 37);
    animation: heading 350ms ease-in 100ms forwards;
    transform: scale(0);
    opacity: 0;
}

@keyframes heading {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    90% {
        transform: scale(1.2);
        opacity: 1;  
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
h2 span {
    background: linear-gradient(345deg, rgba(255,31,0,1) 0%, rgba(255,191,0,1) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    margin: auto;
}

#inputField {
    height: 50px;
    padding: 30px 0 30px 20px;
    width: 100%;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 30px;
    border: none;
    transition: all 250ms ease-in;
}
#inputField:focus {
    outline: 0;
    background-color: #e3e7ee;

}

#add-btn {
    margin: 20px 0 50px 0;
    align-self: flex-end;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(345deg, rgba(255,31,0,1) 0%, rgba(255,191,0,1) 100%);
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    color: rgb(238, 236, 236);
    font-weight: 700;
}

#add-btn:active {
    background: linear-gradient(345deg, rgb(212, 15, 15) 0%, rgb(214, 164, 14) 100%);
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    color: rgb(238, 236, 236);
}

h3 {
    margin: 0 0 5% 7%;
    color: rgb(46, 46, 46);
}
.break {
    height: 5px;
    margin-bottom: 35px;
    background-color: #e6e6ee;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 30px;
    border: none;

}


li {
    font-size: 17px;
    background-color: #dde1e7;
    padding: 15px 20px 15px 25px;
    margin-bottom: 15px;
    box-shadow: -3px -3px 7px #ffffff73, 6px 6px 30px rgba(94, 104, 121, .288);
    border-radius: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 20px;
    position: relative;
    transition: all 400ms;
    animation: fadeUp 300ms forwards ease-in;
    opacity: 0;
    transform: translateY(50px) scale(1.1);
}

@keyframes fadeUp {
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
        box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    }
}

li span {
    visibility: hidden;
    transition: all 250ms ease-in 150ms; 
    opacity: 0;
    color: limegreen; 
    font-size: 30px;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
li span.checkMarkSpan {
    visibility: visible;
    opacity: 1;
}


li.highlight {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288) !important;
    padding-left: 50px;
    /* text-decoration: line-through; */
}

li > button {
    border: none;
    background-color: #dde1e7;
    font-size: 16px;
    font-weight: 800;
}